.contacts {
    background-color: #e0b096;
}
.container {
    flex-direction: column;
    padding: 50px 0;
}
.contactsForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #878b8c;

}
.contactsInput,
.contactsTextArea {
    width: 200px;
    margin-bottom: 10px;
}