.button {
    text-decoration: none;
    width: 100px;
    padding: 5px;
    cursor: pointer;
    color: #dccebf;
    background-color: rgb(185, 160, 138);
}
.button:hover {
    background-color: #D8C3A5;
    color: #E98074;
    transition: 0.5s;
}