.skill {
    width: 250px;
    background-color: #5aa7b9;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}
.icon {
    width: 60px;
    height: 60px;
    background-color: #ef9e9e;
}
.description {

}