.worksBlock {
    min-height: 100vh;
    background-color: #878b8c;
}
.worksContainer {
    flex-direction: column;
    justify-content: flex-start;
}
.title {
    background-color: #bebe87;
}
.works {
    border: 1px solid;
    background-color: #b9a08a;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}