@import "./src/common/styles/saas/variables";
.nav {
    border: 1px solid $primaryColor;
    width: 300px;
    display: flex;
    justify-content: space-between;
    a {
        color: $textColor;
        text-decoration: none;
    }
}
