@import "./src/common/styles/saas/variables";
.footer {
    background-color: $bgSecondColor;
    .container {
        flex-direction: column;
        .footerTitle {
            color: $textColor;
        }
        .socials {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $bgSecondColor;
            min-width: 250px;
            margin-bottom: 10px;
            .socialItem {
                width: 30px;
                height: 30px;
                background-color: $bgColor;
            }

        }
        .footerBottom {
            color: $textColor;
            padding-bottom: 5px;
        }
    }
}



